<% if logged_in? %>
  <div class="col-sm-12">
      <%= render 'category_navbar', posts: @posts %>
    </div>
  
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @post, local: true) do |f| %>
                <div class="form-group">
                  <%= f.text_area :content, class: 'form-control', rows: 5 %>
                </div>
                <div class="form-group">
                  <%= f.label :image, 'Image' %>
                  <%= f.file_field :image, class: 'form-control' %>
                </div>
                <!-- カテゴリ選択 -->
                <div class="form-group">
                  <%= f.label :category_id %>
                  <%= f.collection_select :category_id, Category.all, :id, :name %>
                </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
 <div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Minimalists</h1>
    <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
 </div>
<% end %>


